apiVersion: kubekey.kubesphere.io/v1beta3
kind: Cluster
metadata:
  name: sample
spec:
  hosts:
{% set all_hosts = groups['k8s_master'] | union(groups['k8s_cpu_worker']) | union(groups['k8s_gpu_worker']) %}
{% for host in all_hosts %}
  - {name: {{ host }}, address: {{ hostvars[host].ansible_host | default(host) }}, internalAddress: {{ hostvars[host].ansible_host | default(host) }}, user: {{ ansible_user }}, password: "{{ ansible_ssh_pass }}"}
{% endfor %}
  roleGroups:
    etcd:
{% for host in groups['k8s_master'] %}
    - {{ host }}
{% endfor %}
    control-plane:
{% for host in groups['k8s_master'] %}
    - {{ host }}
{% endfor %}
    worker:
{% set worker_hosts = groups['k8s_cpu_worker'] | union(groups['k8s_gpu_worker']) %}
{% for host in worker_hosts %}
    - {{ host }}
{% endfor %}
    registry:
    - {{ groups['k8s_master'][0] }}
  controlPlaneEndpoint:
    domain: lb.infrawaves.com
    address: "{{ groups['k8s_master'][0] }}"
    port: 6443
  kubernetes:
    version: {{ k8s_version }}
    clusterName: cluster.local
    containerManager: containerd
    DNSDomain: cluster.local
    autoRenewCerts: true
  etcd:
    type: kubekey
  network:
    plugin: calico
    kubePodsCIDR: 10.233.64.0/18
    kubeServiceCIDR: 10.233.0.0/18
    multusCNI:
      enabled: false
